---
// Component Imports
import Button from 'components/Button';
import {useSanityClient} from 'astro-sanity';
import PostCards from 'components/PostCards.astro';
import SanityQueries from 'api/src/router/post';
import z from 'zod';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

// const posts = await useSanityClient().fetch(SanityQueries.all);
// const all = await useSanityClient().fetch(SanityQueries.slugs);
// export const getStaticPaths = () => ([{params}])

// const posts = await useSanityClient().fetch(SanityQueries.byId, {SLUG:Astro.params});

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title> Astro + TailwindCSS </title>
	</head>

	<body>
		<div class="grid place-items-center h-screen content-center">
			<Button client:load buttonText="Welcome to FriendZone!"/>
      <PostCards client:load data={posts}/>
			<a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
		</div>
	</body>

