---
// Component Imports
import {useSanityClient} from 'astro-sanity';
import SanityQueries, {type Slugs  } from 'api/src/router/post';
import PortableText from 'components/SanityComponents'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

export const getStaticPaths = async () => { 
  const slugs:Slugs = await useSanityClient().fetch(SanityQueries.slugs);
  return slugs.map(slug=>({params: {id: slug.slug.current}})) 
}

const post = await useSanityClient().fetch(SanityQueries.byId, {SLUG:Astro.params.id});
---
<body>
    <div class="h-full w-full py-12 overflow-y-scroll overflow-x-hidden">
      <main class="dark:bg-gray-900 bg-gray-50 mx-5 rounded-xl p-5 2xl:mx-80 2xl:p-40 dark:text-white text-black">
        <div class="flex w-full justify-center">
          <h1 class="text-6xl text-center md:text-9xl font-extrabold my-8">{post.title}</h1>
        </div>
        <div class="">
          <div class="flex w-full justify-center">
            <div class="flex w-3/6 items-center justify-around">
              <div class="relative mr-4 h-8 w-8 overflow-hidden rounded-full">
              </div>
              <div class="flex flex-col items-center justify-around">
                <span class="font-light whitespace-nowrap ">{post.author.name}</span>
                <span class="font-light ">
                  {Intl.DateTimeFormat('en-GB', { dateStyle: "short" }).format(new Date(post.publishedAt))}
                </span>
              </div>
            </div>
          </div>
          <div class="flex xl:h-96 lg:h-80 md:h-60 sm:h-40 w-full min-w-[10rem] min-h-[10rem]">
            <div class="relative m-5 w-full h-auto overflow-hidden rounded-xl">
            </div>
          </div>
        </div>
        <article>
        <PortableText value={post.body}/> 
        </article>
      </main>
    </div>
</body>
